
<form> 
    <div class="wrapper fadeInDown">
        <div id="formContent" style="margin-top:2%;margin-bottom: 1.5%;">
          <h2 class="active" style="margin-top:5%">Portal Contact-Us</h2>
          <div class="fadeIn first" style="margin-top:2.5%; margin-bottom: 2.5%;"> 
          </div>
          <form  style="margin-bottom: 5%;">
            <img src="assets/images/main-contactus.png">
            <label for="mobile"></label>
          </form>
        </div>
      </div>
    </form> 
    