<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand timer" href="#" style="margin-left:25%"><img src="assets/images/avatar.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="gotoHome()" class="timer" title="Home"><img src="assets/images/home.png"></a></li>
      <li><a class="timer" (click)="dashboard()" title="User Registraton"><img src="assets/images/dashboard.png"></a></li>
      <li class="timer">
        {{displayTimer| date : 'MMM d, y, h:mm:ss a'}}

      </li>
      <li><a (click)="logout()"  class="fadeIn fourth" title="logout"><img src="/assets/images/logout.png"></a></li>
    </ul>
  </div>
</nav>
