<div class="wrapper">
    <div id="formContent"> 
    <div *ngIf="!isSuccess">
      <h2 class="active"> Registration Form </h2>
      <div class="fadeIn first">
        <img src="/assets/images/registration.png" id="icon" alt="User Icon" />
      </div>
      <form #regF="ngForm" (ngSubmit)="submit(regF)" >
        <label><input type="text" class="fadeIn second" required placeholder="Login Name" #loginName="ngModel" [(ngModel)]="login" name="login" [value]="user?.loginName"></label>
        <div [hidden]="loginName.valid" class="fontRed" >Name is mandatory.</div>
       <label> <input type="text" class="fadeIn third" [pattern]="mobNumberPattern" #mobile1="ngModel" [(ngModel)]="mobile" appValidatorDirc minlength="10" [value]="user?.mobile" required name="mobile" maxlength="10" placeholder="Mobile"></label>
       <div [hidden]="mobile1.valid" class="fontRed" >Mobile is mandatory.</div>
        <label><input type="text" email="true" class="fadeIn second" required [(ngModel)]="email" name="email" #email1="ngModel" placeholder="Email Id" [value]="user?.email"></label>
        <div [hidden]="email1.valid" class="fontRed" >Email is mandatory.</div>
        <label><input type="password" [(ngModel)]="password" class="fadeIn second" required placeholder="Password" name="password" #password1="ngModel" [value]="user?.password"></label>
        <div [hidden]="password1.valid" class="fontRed" >Password is mandatory.</div>
        <input type="submit" [disabled]="!regF.valid" class="fadeIn fourth" value="Register">
        <div class="fontRed" style="padding-bottom: 15px;">{{errorMsg}}</div>
      </form>
    </div>
      <div *ngIf="isSuccess">
        <h2 class="active"> Awesome </h2>
        <div class="fadeIn first" style="margin-top: 5%;">
          <img src="/assets/images/tick.png" id="icon" alt="Success Icon" />
        </div>
       <label class="successmsg"> Your registration has been completed successfully with email id - {{email}}.</label>
      </div>
    </div>
  </div>
